<main class="container">
  <h1>Kebus</h1>
  <p>Find the app to purchase bus tickets in your area</p>

  <% if user_signed_in? %>
    <%= link_to "View Apps", apps_path, class: "btn btn--dark" %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path, class: "btn btn--dark" %>
  <% end %>
</main>